.about .top{
    height: 50vw;

    background: url('../img/aboutUsJPG.JPG');
    background-size: 100%;
    background-position: left;
    padding: 3em;
    padding-bottom: 5em; 
    
}

.about .aboutPic {
    color: orange;
    padding: 2em;
 
}

.about .chunk{
    padding: 4em;
    

}