.about .top{
    height: 50vw;

    background: url('../img/aboutUsJPG.JPG');
    background-size: 100%;
    background-position: left;
    padding: 3em;
    padding-bottom: 5em; 
    
}

.about .aboutPic {
    color: white;
    padding: 2em;
 
}

.about .chunk{
    padding: 4em;
    

}

.about .bottom {
    text-align: center;
    margin: 75px 200px;
}

.about .form {
    display: flex;
    justify-content: space-between;
}

.about .info-text {
    margin-bottom: 100px;
}