.about-content {
	padding: 4rem;
	padding-bottom: 0;
}

.about-content .row {
	margin: 0;
}

.about-content .middle-row {
	margin-top: 2rem;
	margin-bottom: 3.5rem;
}

.about-content p {
	margin: 0 1rem;
}

.about-content .bottom-navbar {
	display: flex;
	justify-content: space-around;
}
