.advisory {
	.advisory-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		.introduction {
			width: 75%;
			margin: 0 0 3rem 0;
		}
		.committee-info {
			width: 80%;
			border: solid #233748 5px;
			p {
				text-align: left;
				padding: 1rem 0 1rem 4rem;
			}
		}
		.bottom-navbar {
			margin-top: 4rem;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			padding: 0 10rem;
			p.link-text {
				font-family: 'Karla', sans-serif;
				border-radius: 6px;
				background-color: #233748;
				color: #ffffff;
				font-style: normal;
				font-weight: normal;
				line-height: 35px;
				text-align: center;
				text-transform: uppercase;
				border-color: transparent;
				box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.18);
				padding: 1vw 2vw 1vw 2vw;
				font-size: 2vw;
				margin: 0;
				text-decoration: none;
			}
			a {
				text-decoration: none;
			}
		}
	}
}

@media only screen and (max-width: 430px) {
	.advisory {
		.advisory-content {
			p {
				font-size: 100% !important;
			}
			.committee-info {
				width: 80%;
				border: solid #233748 5px;
				p {
					text-align: left;
					padding: 1rem 1rem;
				}
			}
		}
	}
}
