.advisory {
	display: flex;
	flex-direction: column;
	.introduction {
		margin: 4rem 12rem 2rem 12rem;
	}
	.committee-info {
		width: 80%;
		border: solid #233748 5px;
		p {
			text-align: left;
			padding: 1rem 0 1rem 4rem;
		}
	}
	.bottom-navbar {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		padding: 0 10rem;
		p.link-text {
			font-family: 'Karla', sans-serif;
			border-radius: 6px;
			background-color: #233748;
			color: #ffffff;
			font-style: normal;
			font-weight: normal;
			line-height: 35px;
			text-align: center;
			text-transform: uppercase;
			border-color: transparent;
			box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.18);
			padding: 1vw 2vw 1vw 2vw;
			font-size: 2vw;
			margin: 0;
			text-decoration: none;
		}
		a {
			text-decoration: none;
		}
	}
}
