.advisory {
    display: flex;
    flex-direction: column;
    .introduction { 
            margin: 4rem 12rem 2rem 12rem;
    }
    .committee-info {
        width: 80%;
        border: solid #233748 5px;
        p {
            text-align: left;
            padding: 1rem 0 1rem 4rem;
        }
    }
    .bottom-navbar {
        display: flex;
        flex-direction:row;
        justify-content: space-around;
    }
}