.cardStuff .image {
	z-index: -1;
}

.cardStuff {
	border: none !important;
}

.cardStuff p {
	text-align: right !important;
	margin-right: 4.5em;
	font-size: 25px;
	background-color: white;
}

.cardStuff .background {
	background-color: white;
}

.cardStuff .cardBack p {
	color: #233748;
	z-index: 1;
}
.cardStuff .cardBack {
	margin-top: -20rem;
}

@media only screen and (max-width: 2800px) {
	.cardStuff p {
		margin-right: 17rem;
		font-size: 25px;
	}
}

@media only screen and (max-width: 1600px) {
	.cardStuff p {
		margin-right: 7rem;
		font-size: 20px;
	}
}
