.convo-content {
	padding: 4rem;
    padding-bottom: 0;
    text-align: center;
}

.convo-content .row {
    text-align: center;
	margin: 0;
}

.convo-content h5{
    font-size: 40px;
    color: black;
	margin: 0;
}

.convo-content.top-row {
   
	margin-top: 2rem;
	margin-bottom: 3.5rem;
}

.convo-content .middle-row {
	margin-top: 2rem;
	margin-bottom: 3.5rem;
}

.convo-content p {
	font-size: 170% !important;
	font-weight: bold;
	margin-top: -2.5rem !important;
	margin-left: -3rem !important;
	color: white;
	text-align: left !important;
	padding: 5rem
}

.convo-content link {
	margin-left: 2em !important;
}

.convo-content h6 {
	font-size: 120% !important;
	margin-top: -10rem !important;
	margin-right: -3rem !important;
	color: white;
	text-align: right!important;
	padding: 5rem
}


.convo-content .articleLink{
	background-image: url(../img/randPaulBlock.png);
	background-size: 100%;
	background-repeat: no-repeat;
}


.convo-content .randPaul-link{
	background-image: url(../img/randPaulBlock.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

.convo-content .article2-link{
	background-image: url(../img/randPaulBlock.png);
	background-repeat: no-repeat;
	background-size: 100%;
}