.decal {
	padding: 4rem;
	padding-bottom: 0;
	text-align: center;
}

.decal .row {
	text-align: center;
	margin: 0;
}

.decal h5 {
	font-size: 40px;
	color: black;
	margin: 0;
}

.decal .top-row {
	margin-top: 2rem;
	margin-bottom: 3.5rem;
}

.decal .middle-row {
	margin-top: 2rem;
	margin-bottom: 3.5rem;
}

.decal p {
	margin: 0 10rem;
	font-size: 130%;
}

.decal .bottom-row {
	display: flex;
	justify-content: space-around;
}

@media only screen and (max-width: 1024px) {
	.decal {
		margin-top: -60%;
	}
	.decal p {
		margin: 0 5rem;
		font-size: 130%;
	}
}

@media only screen and (max-width: 414px) {
	.decal h5 {
		font-size: 140%;
		color: black;
		line-height: normal;
	}

	.decal {
		padding: 3rem;
		margin-top: -100%;
	}
	.decal p {
		margin: auto;
		font-size: 100%;
	}
}
