.footer {
    background-color: #233748;
    width: 100%;
    margin-top: 100px;
    height: 248px;
    display: flex;
    position: relative;

}

.footer img {
    object-fit: fill;
}

.footer .tbf-logo {
    /*Inherited object-fit:fill from .footer img*/
    width: 140px;
    height: 140px;
    border: solid;
    border-width: 2px;
    border-color: #FFFFFF;
    margin: 50px;
}

.footer .wdb-logo {
    position:absolute;
    right: 58px;
    bottom: 51px;
}

.footer p {
    font-style: normal;
    font-size: 18px;
    line-height: 19px;  
    text-align: left;
    height:fit-content;
    color: #FFFFFF;
    margin: 50px;
    margin-bottom: 0px;
    
}

.footer .footer-links { 
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-top: 42px;
    position: relative;
}

.footer .footer-col {
    /*Format the columns of the footer links*/

    display: flex;
    flex-direction: column;
    align-content: left;
    margin-right: 6em;
 
}


.footer .footer-link-text {
    margin: 0;
 
}

.footer .link-tag {
    height: 10px;
    margin: 9px;
}

.contact-info {
    /* Maybe change divider to its own element? */
    padding-right: 50px;
    border-right: 2px solid white;
    
    margin-bottom: 0px;
}
