.footer {
	background-color: #233748;
	margin-top: 4rem;
	display: flex;
	padding: 2.5rem;
	.wdb-logo {
		position: absolute;
		top: 110px;
		right: 58px;
		height: 57px;
		width: 212px;
	}
}

.left-col {
	display: flex;
	padding: 0;
	.tbf-logo {
		border: 2px solid #ffffff;
		width: 146px;
		height: 146px;
		margin-right: 2rem;
	}
	.contact-info {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-around;
		p {
			font-size: 16px;
			line-height: 19px;
			color: #ffffff;
			text-align: left;
		}
	}
}

.right-col {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	margin: 0 2rem;
	/* Uncomment and replace margin and align-items to keep links centered
	align-items: center; */
	.logo {
		margin-left: auto;
	}
	.footer-links {
		flex-direction: row;
		.footer-col {
			flex-direction: column;
			align-items: flex-start;
			p {
				font-size: 16px;
				line-height: 20px;
				color: #ffffff;
				text-align: left;
			}
		}
	}
}

.footer-mobile {
	display: none;
}

@media only screen and (max-width: 1600px) {
	.header .nav-text {
		color: white;
		font-size: 16px;
		text-transform: uppercase;
		letter-spacing: 0.11em;
		margin-left: 0rem;
	}
	.header .nav-background {
		width: 690px;
	}
	.dropdown-arrow {
		position: absolute;
		margin-left: 5.8rem !important;
		margin-top: 0.32rem !important;
	}
	.dropdown-arrow2 {
		position: absolute;
		margin-left: 4.4em !important;
		margin-top: 0.32rem !important;
	}
}

@media only screen and (max-width: 991px) {
	// .header {
	// 	width: 88% !important;
	// 	margin-left: 6% !important;
	// 	overflow: hidden;
	// 	padding-bottom: 1.2rem;

	// 	.navbar {
	// 		margin-left: 0rem;
	// 		margin-top: 1rem;
	// 		font-size: 10px;
	// 		padding: 0;
	// 		padding-right: 2rem;
	// 	}

	// 	.nav-text {
	// 		font-size: 13px;
	// 		margin-bottom: -0.4rem;
	// 	}
	// }
	.footer-mobile {
		display: flex;

		h1 {
			font-size: 20px;
		}
	}
	.footer-desktop {
		display: none;
	}
}
