.header {
    width: 90%;
    position: relative;
    text-align: center;
    background-color: #233748;
    color: white;
    margin: 3em;
}

.header h1 {
    text-align: left;
    color: white;
    margin-left: 15%;
}

.header .link-tag:hover {
    text-decoration: none;
}

.header .nav-text {
    justify-content: space-around;
    margin: 0em 2vw;
    text-align: center;
    font-size: 15px;
	color: white;
	padding: 0;
	letter-spacing: 0.11em;
    text-transform: uppercase;
    justify-content: center;

}
.header p:after {
    text-decoration: none;
	display: block;
	content: '';
	border-bottom: solid 1px #ffffff;
	transform: scaleX(0);
	transition: transform 350ms ease-in-out;
}

.header p:hover:after {
	transform: scaleX(1);
}
.header p.nav-text:after {
	transform-origin: 0% 50%;
}

.header.dropdown {
    position: relative;
	display: inline-block;
}
.header .dropdown-content {
    display: none;
    justify-content: center;
	position: absolute;
	background-color: #233748;
	min-width: 160px;
	z-index: 1;
	transition: 0.5s ease;
}

.header .dropdown-content .link-tag {
    justify-content: center;
	padding-bottom: 0.5rem;
	display: block;
}
.header .dropdown:hover .dropdown-content {
    justify-content: center;
	display: block;
}





.header .bar {
    background-color: #233748;
    color: white;
    align-items: center;
    text-align: center;
    justify-content: center;

}


.header .navbar{
    color: white;
    display: -ms-inline-flexbox;
    justify-content: space-around;
    text-align: center;

    
}

.header .navbar .aboutLink {
    color: white;
    font-size: large;
}



.header .bar .dropdown:hover{
    color: white;
    display: block;
}