

.header {
    background-color: white;
    color: black;
    margin: 2em;
    position: relative;

}

.header .navbar{
    display: -ms-inline-flexbox;
    justify-content: space-around;
    align-items: stretch;
    text-align: center;
    
   
    
}