.landing {
	.landing-content {
		padding: 5rem;
		p {
			font-size: 21px;
			text-align: left;
		}
		.row {
			justify-content: left;
		}
	}
}

@media only screen and (max-width: 430px) {
	.landing {
		.landing-content {
			p {
				font-size: 100%;
			}
		}
	}
}
