
.executive-committee {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    h1 {
        padding: 1rem;
        width: 50%;
        color: #233748;
        letter-spacing: 2px;
        border-bottom: solid 3px;
        border-bottom-color: #E9E9E9;
    }
}